.acc-wrap {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
}

.acc-wrap h1 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 28px;
    font-weight: 700;
}

.acc-box {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.acc-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.acc-box p {
    font-size: 16px;
    margin: 8px 0;
}

/* Lịch sử đơn hàng */
.acc-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.acc-table th,
.acc-table td {
    border: 1px solid #e6e6e6;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.acc-table th {
    background: #fafafa;
    font-weight: 600;
}

.status {
    padding: 6px 10px;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
}

.status.pending {
    background: #ff9800;
}

.status.done {
    background: #4caf50;
}

/* reposive */
/*reposive  */
@media (max-width: 992px) {

    .acc-wrap {
        max-width: 100%;
        margin: 30px auto;
        padding: 15px;
    }

    .acc-wrap h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .acc-box {
        padding: 20px;
        margin-bottom: 20px;
    }

    .acc-box h2 {
        font-size: 18px;
    }

    .acc-box p {
        font-size: 15px;
    }
}

/* Responsive Mobile dưới 768px 
@media (max-width: 768px) {

    .acc-wrap h1 {
        font-size: 22px;
    }

    .acc-box {
        padding: 16px;
        border-radius: 8px;
    }

    .acc-box h2 {
        font-size: 17px;
    }

    .acc-box p {
        font-size: 14px;
    }
    .acc-table {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        border-radius: 6px;
    }

    .acc-table th,
    .acc-table td {
        font-size: 14px;
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {

    .acc-wrap {
        padding: 10px;
        margin: 20px auto;
    }

    .acc-wrap h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .acc-box {
        padding: 14px;
    }

    .acc-box h2 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .acc-box p {
        font-size: 13px;
    }

    .acc-table th,
    .acc-table td {
        font-size: 13px;
        padding: 6px 8px;
    }
}